auth/node_modules/
product/node_modules/
cart/node_modules/
order/node_modules/
ai-buddy/node_modules/
payment/node_modules/
notification/node_modules/
seller-dashboard/node_modules/
coverage/
auth/.env
product/.env
cart/.env   
order/.env
ai-buddy/.env
payment/.env
notification/.env
seller-dashboard/.env